.user-div{
    padding-top: 140px;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.log-div{
    padding: 20px;
}

.log-div a{
    cursor: pointer;
    font-size: 25px;
    line-height: 35px;
    padding: 0px 50px 0px 50px;
}

.log-div a:hover{
    color: #5bc0de;
    text-decoration: none;
}

.log-div a.active{
    color: #5bc0de;
    text-decoration: underline;
}

#login-form input{
    margin: 20px 0px 20px 0px;
}

#register-form input{
    margin: 20px 0px 20px 0px;
}