.row{
    width: 1160px;
    padding: 0 100px;
}

.left-nav{
    width: 200px;
    float: left;
    border: 1px solid #efefef;
}

.right-content{
    float: left;
    margin-left: 10px;
    width: 750px;
}

.left-nav label{
    padding-left: 30px;
    width: 200px;
    height: 40px;
    line-height:40px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    color: white;
    background-color: #409EFF;
}

.left-nav ul{
    padding: 0 0;
}

.left-nav li{
    list-style: none;
    width: 200px;
    height: 40px;
    line-height:40px;
    padding-left: 40px;
}

.left-nav li:hover{
    background-color: #fafafa;
    border-left: 2px solid #409EFF;
    cursor: pointer;
}

.left-nav li.active {
    background-color: #fafafa;
    border-left: 2px solid #409EFF;
}

.breadcrumb{
    border: 1px solid #efefef;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    margin-bottom: 20px;
}

.edit-div{
    border: 1px solid #eef1f3;
    padding: 20px;
}

.edit-div label{
    width: 100px;
    height: 40px;
    text-align: center;
    font-weight: inherit;
}

.edit-div .my-input{
    height: 40px;
}

.edit-div .my-input-radio{
    margin-left:40px;
}

.edit-div p{
    padding-left:20px;
    height: 30px;
    line-height: 30px;
}

.edit-div .my-button{
    margin-left: 120px;
}

#has-bind-div a{
    text-decoration: none;
    height: 30px;
    padding: 20px 20px;
}

#has-bind-div a:hover{
    cursor: pointer;
}

#change-payPwd-div {
    margin-top: 30px;
}

.float-right-div{
    height: 60px;
}

.float-right-div .my-button{
    margin-left: 600px;
}

.display-table{
    width: 100%;
}

.display-table th{
    border: 1px solid #e3e3e3;
    text-align: center;
    background-color: #f8f8f8;
    height: 30px;
    line-height: 30px;
    font-weight: 400;
}

.w1{
    width: 100px;
}

.w2{
    width: 150px;
}

.w3{
    width: 130px;
}

.w4{
    width: 200px;
}

.w5{
    width: 130px;
}

.display-table td{
    border: 1px solid #e3e3e3;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.display-table a{
    color: #409EFF;
    text-decoration: none;
    margin: 10px;
}

.display-table a:hover{
    cursor: pointer;
}

#add-teacher-div .my-button{
    margin-left: 60px;
}

.form-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
}

.form-modal-content{
    padding: 20px;
    height: 200px;
}

.form-modal-content label{
    width: 100px;
    height: 38px;
    font-weight: 400;
    text-align: center;
}

.form-modal-content .my-input{
    height: 38px;
}

.form-modal-content .my-input-radio{
    margin-left: 30px;
}

.form-modal-footer{
    height: 80px;
    padding: 0px 85px 0px 85px;
}

.form-modal-footer button {
    margin: 0px 20px 0px 20px;
}

.float-left{
    float: left;
}

.top10{
    margin-top: 10px;
}

#profit-echarts label{
    width: 200px;
    text-align: left;
    padding-left: 20px;
}

#my-pagination{
    margin: 20px 200px;
}