.row{
    width: 1160px;
    padding: 0 100px;
}

.title{
    border: 1px solid #efefef;
    height: 60px;
    padding: 10px 30px;
}

.title a{
    font-size: 18px;
    line-height: 40px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    border-left: 1px solid #E4E7ED;
    border-radius: 4px;
}

.title a:hover{
    cursor: pointer;
}

.title a.active{
    background-color: #409EFF;
    color: white;
}

.main-content {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #DCDFE6;
}

#add-plan-div label{
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
}

.float-left{
    float: left;
}

.top10{
    margin-top: 10px;
}

#add-plan-div .my-input{
    height: 40px;
    margin: 10px 0px;
}

#textarea{
    width: 400px;
    margin-left: 100px;
}

#date-picker{
    margin: 10px;
}

#cascader{
    margin: 10px;
}

#add-plan-div .my-button{
    margin-left: 420px;
}

.number-picker{
    margin-top: 10px;
    float: left;
}

.manage-class {
    padding: 10px 20px;
    border: 1px solid #E4E7ED;
}

.manage-class a {
    margin-left: 100px;
    text-decoration: none;
}

.manage-class a:hover{
    cursor: pointer;
}

#edit-class-container{
    border: 1px solid #E4E7ED;
    padding: 10px 15px;
}

#edit-class-div{
    border: 1px solid #E4E7ED;
}

#edit-class-div a{
    margin-left: 20px;
    text-decoration: none;
}

#edit-class-div a:hover{
    cursor: pointer;
}

#enter-teachers{
    margin-top: 10px;
    float: left;
}

#select{
    margin-top: 10px;
    width: 150px;
    float: left;
}

#add-teacher-a{
    position: relative;
    top: 20px;
}

.el-icon-delete{
    font-size: 20px;
    color: #409EFF;
    margin-left: 10px;
}

.el-icon-delete:hover{
    cursor: pointer;
}

.el-icon-edit{
    font-size: 20px;
    color: #409EFF;
}

.el-icon-edit:hover{
    cursor: pointer;
}

#edit-class-container table{
    margin-bottom: 10px;
}

#edit-class-container tr{
    border: 1px solid #E4E7ED;
    height: 40px;
    text-align: center;
}

#edit-class-div .my-button{
    margin: 10px 0px 30px 250px;
}

.show-one-plan{
    padding: 10px 20px;
    border: 1px solid #E4E7ED;
}

.show-one-plan label {
    font-weight: 500;
    height: 30px;
    line-height: 30px;
}

.show-one-plan label.plan-name{
    font-size: 18px;
    margin-right: 30px;
}

.show-one-plan .description{
    font-size: 14px;
    line-height: 25px;
}

.show-one-plan label.detail{
    width: 280px;
    font-size: 13px;
    height: 20px;
}

.el-collapse{
    margin-top: 10px;
}

.show-one-plan .el-icon-edit{
    float: right;
    margin-right: 20px;
}

.show-one-plan .el-icon-delete{
    float: right;
    margin-right: 20px;
}

.show-one-plan tr{
    border: 1px solid #E4E7ED;
    height: 40px;
    text-align: center;
}

.show-one-plan .my-button{
    margin: 20px 0 10px 390px;
}

.show-one-plan a{
    text-decoration: none;
    margin-left: 20px;
}

.show-one-plan a:hover{
    cursor: pointer;
}

.main-content p{
    margin-top: 10px;
    padding-left: 20px;
}