.row{
    width: 1160px;
    padding: 0 100px;
}

.title{
    border: 1px solid #efefef;
    height: 60px;
    padding: 10px 30px;
}

.title a{
    font-size: 18px;
    line-height: 40px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    border-left: 1px solid #E4E7ED;
    border-radius: 4px;
}

.title a:hover{
    cursor: pointer;
}

.title a.active{
    background-color: #409EFF;
    color: white;
}

.main-content {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #DCDFE6;
}

.show-one-lesson{
    padding: 10px 20px;
    border-bottom: 1px solid #efefef;
}

.show-one-lesson label{
    height: 40px;
    line-height: 40px;
}

.show-one-lesson .label1{
    width: 200px;
}

.show-one-lesson .label2{
    width: 200px;
    font-weight: 400;
}

.show-one-lesson .label3{
    width: 250px;
}

.show-one-lesson span{
    width: 500px;
}

.show-one-lesson a{
    text-decoration: none;
}

.show-one-lesson a:hover{
    cursor: pointer;
}

.main-content p{
    margin-top: 10px;
    padding-left: 30px;
}

#my-pagination1{
    margin: 20px 300px;
}

#my-pagination2{
    margin: 20px 300px;
}

#my-pagination3{
    margin: 20px 300px;
}

#my-pagination4{
    margin: 20px 300px;
}

#my-pagination5{
    margin: 20px 300px;
}