<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<nav class="my-nav">
    <span>Training College</span>
    <ul>
        <li><a class="active" href="/index">首页</a></li>
        <li><a href="/myOrder">我的订单</a></li>
        <li><a href="/myLesson">我的课程</a></li>
        <li><a href="/accountManagement">账号管理</a></li>
    </ul>
    <a class="a-right" href="/login">退出登录</a>
</nav>
<div class="container">
    <div class="row">
        <div class="title">
            <div class="search">
                <input type="text" class="my-input" placeholder="请填入课程名称" id="enter-lesson-name">
                <button class="my-button" id="search-lesson-btn"><i class="el-icon-search"></i>搜索</button>
            </div>
            <br>
            <label class="float-left">学校级别：</label>
            <div class="radio">
                <label id="primary-school"><input type="radio" class="my-input-radio" name="options-school-type">小学</label>
                <label id="middle-school"><input type="radio" class="my-input-radio" name="options-school-type">初中</label>
                <label id="high-school"><input type="radio" class="my-input-radio" name="options-school-type">高中</label>
                <label id="college"><input type="radio" class="my-input-radio" name="options-school-type">大学</label>
            </div>
            <br>
            <label class="float-left">学科：</label>
            <div class="checkbox" id="under-college-subject">
                <label id="chinese"><input type="checkbox" class="my-input-checkbox">语文</label>
                <label id="math"><input type="checkbox" class="my-input-checkbox">数学</label>
                <label id="english"><input type="checkbox" class="my-input-checkbox">英语</label>
                <label id="physics"><input type="checkbox" class="my-input-checkbox">物理</label>
                <label id="chemistry"><input type="checkbox" class="my-input-checkbox">化学</label>
                <label id="politics"><input type="checkbox" class="my-input-checkbox">政治</label>
                <label id="history"><input type="checkbox" class="my-input-checkbox">历史</label>
                <label id="geography"><input type="checkbox" class="my-input-checkbox">地理</label>
                <label id="biology"><input type="checkbox" class="my-input-checkbox">生物</label>
            </div>
            <div class="checkbox" id="college-subject" hidden="hidden">
                <label id="philosophy"><input type="checkbox" class="my-input-checkbox">哲学</label>
                <label id="economy"><input type="checkbox" class="my-input-checkbox">经济学</label>
                <label id="law"><input type="checkbox" class="my-input-checkbox">法学</label>
                <label id="education"><input type="checkbox" class="my-input-checkbox">教育学</label>
                <label id="literature"><input type="checkbox" class="my-input-checkbox">文学</label>
                <label id="college-history"><input type="checkbox" class="my-input-checkbox">历史学</label>
                <label id="science"><input type="checkbox" class="my-input-checkbox">理学</label>
                <label id="engineering"><input type="checkbox" class="my-input-checkbox">工学</label>
                <label id="agronomy"><input type="checkbox" class="my-input-checkbox">农学</label>
                <label id="medical"><input type="checkbox" class="my-input-checkbox">医学</label>
                <label id="military"><input type="checkbox" class="my-input-checkbox">军事学</label>
                <label id="management"><input type="checkbox" class="my-input-checkbox">管理学</label>
                <label id="art"><input type="checkbox" class="my-input-checkbox">艺术学</label>
            </div>
        </div>

        <div class="main-content">
            <div id="lesson-list-div"></div>
        </div>
    </div>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</html>
