<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/logout.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<nav class="my-nav">
    <span>Training College</span>
    <ul>
        <li><a class="active" href="/index">首页</a></li>
        <li><a href="/myOrder">我的订单</a></li>
        <li><a href="/myLesson">我的课程</a></li>
        <li><a href="/accountManagement">账号管理</a></li>
    </ul>
    <a class="a-right" href="/login" id="logout-a">退出登录</a>
</nav>
<div class="container">
    <div class="row">
        <div class="title">
            <div class="search">
                <input type="text" class="my-input" placeholder="请填入课程名称" id="enter-lesson-name">
                <button class="my-button" id="search-lesson-btn"><i class="el-icon-search"></i>搜索</button>
            </div>
            <br>
            <label class="float-left">学校级别：</label>
            <div id="radio" @change="change">
                <template>
                    <el-radio v-model="radio" label="小学">小学</el-radio>
                    <el-radio v-model="radio" label="初中">初中</el-radio>
                    <el-radio v-model="radio" label="高中">高中</el-radio>
                    <el-radio v-model="radio" label="大学">大学</el-radio>
                </template>
            </div>
            <br>
            <label class="float-left">学科：</label>
            <div id="checkbox">
                <template>
                    <el-checkbox-group v-model="checkedSubjects" :min="1">
                        <el-checkbox v-for="subject in subjects" :label="subject" :key="subject">{{subject}}</el-checkbox>
                    </el-checkbox-group>
                </template>
            </div>
        </div>

        <div class="main-content">
            <div id="lesson-list-div"></div>
            <div id="my-pagination"></div>
        </div>
    </div>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</html>
