<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程管理</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/insLesson.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/insLesson.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<nav class="my-nav">
    <span>Training College</span>
    <ul>
        <li><a class="active" href="/institution">首页</a></li>
        <li><a href="/insOrder">订单管理</a></li>
        <li><a href="/insManagement">账号管理</a></li>
    </ul>
    <a class="a-right" href="/login">退出登录</a>
</nav>

<div class="container">
    <div class="row">
        <div id="lesson-message-div"></div>
        <div class="title">
            <a class="active" id="onsite-pay-a">现场缴费</a>
            <a id="check-a">听课登记</a>
        </div>
        <div class="main-content">
            <div id="onsite-pay-div">
                <label class="float-left less10">是否会员：</label>
                <div id="switch">
                    <template>
                        <el-switch v-model="value1" active-text="是" inactive-text="否">
                        </el-switch>
                    </template>
                </div>
                <br>
                <label id="user-id-label">会员号：</label>
                <input type="text" class="my-input" id="enter-user-id" placeholder="请填入会员号">
                <a id="test-vip-a">验证</a>
                <br>
                <label class="float-left">选择班级：</label>
                <div id="select-class-type">
                    <template>
                        <el-select v-model="value" placeholder="请选择班级类型" id="enter-class-type">
                            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </div>
                <br>
                <label class="float-left">学员：</label>
                <div id="student-tags">
                    <a onclick="openAddStudentDiv()" id="add-student-a"><i class="el-icon-plus">新学员</i></a>
                </div>
                <br>
                <div id="add-student-div" hidden="hidden">
                    <label class="float-left">姓名：</label>
                    <input type="text" class="my-input float-left" id="enter-student-name" placeholder="请填入学员姓名">
                    <label class="float-left">性别：</label>
                    <div class="radio">
                        <label><input type="radio" name="options-gender" id="option-man">男</label>
                        <label><input type="radio" name="options-gender" id="option-woman">女</label>
                    </div>
                    <label class="float-left">教育背景：</label>
                    <div id="select">
                        <template>
                            <el-select v-model="value" placeholder="请选择教育背景">
                                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </div>
                    <br>
                    <div hidden="hidden" class="alert alert-warning" id="add-student-error"></div>
                    <button class="my-button" id="cancel-add-student-btn">取消</button>
                    <button class="my-button" id="add-student-btn">添加</button>
                </div>
                <span id="actual-pay" class="pay-span"></span>
                <br>
                <div class="alert alert-warning" id="add-order-error" hidden="hidden"></div>
                <button class="my-button" id="add-order-btn">计算总价</button>
            </div>
            <div id="check-div">
                <div class="search-container">
                    <label class="float-left">班级类型：</label>
                    <div id="select-class-type1">
                        <template>
                            <el-select v-model="value" placeholder="请选择班级类型" id="enter-class-type1">
                                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </div>
                    <label class="float-left">班级号：</label>
                    <div id="input-number1">
                        <template>
                            <el-input-number v-model="num1" controls-position="right" @change="handleChange" :min="1" id="enter-class-id" style="width: 100px"></el-input-number>
                        </template>
                    </div>
                    <label class="float-left">课时：</label>
                    <div id="input-number2">
                        <template>
                            <el-input-number v-model="num1" controls-position="right" @change="handleChange" :min="1" id="enter-class-hour" style="width: 100px"></el-input-number>
                        </template>
                    </div>
                    <button class="my-button" id="ensure-search-btn"><i class="el-icon-search"></i>搜索</button>
                    <div class="alert alert-warning" id="ensure-search-error" hidden="hidden"></div>
                </div>
                <div id="display-students-div">
                    <table width="100%">
                        <tr><th>姓名</th><th>性别</th><th>教育程度</th><th>成绩</th><th>登记</th></tr>
                        <tr><td>费慧通</td><td>男</td><td>高中</td><td>无<a>录入成绩</a></td><td><a>立即登记</a></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="enter-grade-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="my-modal">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <div class="my-modal-header">
                <p class="text-center">录入成绩</p>
            </div>
            <div class="my-modal-content">
                <input type="text" placeholder="请填入成绩" id="enter-grade" class="my-input">
            </div>
            <div class="my-modal-footer">
                <button class="my-button" data-dismiss="modal">取消</button>
                <button class="my-button" id="enter-grade-btn">确定</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var Main = {
        data() {
            return {
                value1: true
            }
        },
    }
    var Ctor = Vue.extend(Main);
    new Ctor().$mount("#switch");

    var Main1 = {
        data() {
            return {
                options: [ {
                    value: '选项1',
                    label: '高中'
                }, {
                    value: '选项2',
                    label: '初中'
                }, {
                    value: '选项3',
                    label: '小学'
                }],
                value: ''
            }
        }
    }
    var Ctor1 = Vue.extend(Main1)
    new Ctor1().$mount('#select')

    var Main2 = {
        data() {
            return {
                num1: 1
            };
        },
        methods: {
            handleChange(value) {
            }
        }
    };
    var Ctor2 = Vue.extend(Main2);
    new Ctor2().$mount('#input-number1');

    var Main3 = {
        data() {
            return {
                num1: 1
            };
        },
        methods: {
            handleChange(value) {
            }
        }
    };
    var Ctor3 = Vue.extend(Main3);
    new Ctor3().$mount('#input-number2');
</script>
</html>