<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号管理</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/insManagement.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/insManagement.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<nav class="my-nav">
    <span>Training College</span>
    <ul>
        <li><a href="/institution">首页</a></li>
        <li><a href="/insOrder">订单管理</a></li>
        <li><a class="active" href="/insManagement">账号管理</a></li>
    </ul>
    <a class="a-right" href="/login">退出登录</a>
</nav>
<div class="container">
    <div class="row">
        <div class="left-nav">
            <label>账号管理</label>
            <ul>
                <li class="active" id="ins-message-li">机构信息</li>
                <li id="teachers-li">师资力量</li>
                <li id="pay-account-li">支付账号</li>
                <li id="account-safety-li">账号安全</li>
                <li id="financial-situation-li">财务情况</li>
            </ul>
        </div>
        <div class="right-content">
            <div class="breadcrumb">
                <span>账号管理> </span>
                <span id="chosen-li">机构信息</span>
            </div>
            <div class="edit-div">
                <div id="ins-message-div">
                    <label>识别码：</label>
                    <label id="ins-id-label"></label>
                    <br>
                    <label>机构名称：</label>
                    <input type="text" class="my-input" id="enter-ins-name" placeholder="请填入机构名称">
                    <br>
                    <label>地址：</label>
                    <input type="text" class="my-input" id="enter-ins-address" placeholder="请填入机构地址">
                    <br>
                    <label>联系方式：</label>
                    <input type="text" class="my-input" id="enter-ins-phone" placeholder="请填入联系方式">
                    <br>
                    <div class="alert alert-warning" id="ins-message-error" hidden="hidden"></div>
                    <button class="my-button" id="ins-message-btn">保存</button>
                </div>
                <div id="teachers-div" hidden="hidden">
                    <div class="float-right-div">
                        <button class="my-button" id="show-add-teacher-btn">新增教师</button>
                    </div>
                    <div id="display-teachers-div">
                        <table class="display-table">
                            <thead>
                            <tr>
                                <th class="w1">序号</th>
                                <th class="w2">姓名</th>
                                <th class="w3">性别</th>
                                <th class="w4">课程类型</th>
                                <th class="w5">操作类型</th>
                            </tr>
                            </thead>
                            <tbody id="display-content">
                            </tbody>
                        </table>
                    </div>
                    <div id="add-teacher-div" hidden="hidden">
                        <label>教师姓名：</label>
                        <input type="text" class="my-input" id="enter-teacher-name" placeholder="请填入教师姓名">
                        <br>
                        <label>性别：</label>
                        <input type="radio" class="my-input-radio" name="gender-options" id="man">男
                        <input type="radio" class="my-input-radio" name="gender-options" id="woman">女
                        <br>
                        <label class="float-left top10">课程类型：</label>
                        <div id="cascader">
                            <div class="block">
                                <el-cascader expand-trigger="hover" :options="options" v-model="selectedOptions">
                                </el-cascader>
                            </div>
                        </div>
                        <br>
                        <div class="alert alert-warning" id="add-teacher-error" hidden="hidden"></div>
                        <button class="my-button" id="cancel-add-btn">取消</button>
                        <button class="my-button" id="add-teacher-btn">添加</button>
                    </div>
                </div>
                <div id="pay-account-div" hidden="hidden">
                    <div id="bind-account-div">
                        <p>您还没有绑定支付账号，立即绑定！</p>
                        <label>支付账号:</label>
                        <input type="text" class="my-input" id="enter-pay-account" placeholder="请填入支付账号">
                        <br>
                        <label>支付密码:</label>
                        <input type="password" class="my-input" id="enter-account-password" placeholder="请填入支付密码">
                        <br>
                        <div class="alert alert-warning" id="bind-error" hidden="hidden"></div>
                        <button class="my-button" id="bind-account-btn">立即绑定</button>
                    </div>
                    <div id="has-bind-div" hidden="hidden">
                        <p>您已绑定支付账号<span id="account-id-span"></span>！</p>
                        <p>当前余额：<span id="account-balance-span"></span></p>
                        <a id="unbind-account-a">立即解绑</a>
                        <a id="change-payPwd-a">修改密码</a>
                        <div id="change-payPwd-div" hidden="hidden">
                            <label>当前密码:</label>
                            <input type="password" class="my-input" id="enter-old-payPwd" placeholder="请填入当前密码">
                            <br>
                            <label>新密码:</label>
                            <input type="password" class="my-input" id="enter-new-payPwd1" placeholder="4~6位数字">
                            <br>
                            <label>确认密码:</label>
                            <input type="password" class="my-input" id="enter-new-payPwd2" placeholder="请再次填入新密码">
                            <br>
                            <div class="alert alert-warning" id="change-payPwd-error" hidden="hidden"></div>
                            <button class="my-button" id="change-payPwd-btn">确认修改</button>
                        </div>
                    </div>
                </div>
                <div id="account-safety-div" hidden="hidden">
                    <p>修改密码</p>
                    <label>当前密码:</label>
                    <input type="password" class="my-input" id="enter-old-password" placeholder="请填入当前密码">
                    <br>
                    <label>新密码:</label>
                    <input type="password" class="my-input" id="enter-new-password1" placeholder="6~16个字符">
                    <br>
                    <label>确认密码:</label>
                    <input type="password" class="my-input" id="enter-new-password2" placeholder="请再次填入新密码">
                    <br>
                    <div class="alert alert-warning" id="change-password-error" hidden="hidden"></div>
                    <button class="my-button" id="change-password-btn">确认修改</button>
                </div>
                <div id="financial-situation-div" hidden="hidden">
                    <label>总收益：</label>
                    <label id="total-profit"></label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="unbind-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="my-modal">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <div class="my-modal-header">
                <p class="text-center">您确定要解绑此支付账号吗？</p>
            </div>
            <div class="my-modal-footer">
                <button class="my-button" data-dismiss="modal">取消</button>
                <button class="my-button" id="unbind-account-btn">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="change-teacher-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="form-modal">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <div class="form-modal-content">
                <label>姓名：</label>
                <label id="teacher-name-label"></label>
                <br>
                <label>性别：</label>
                <input type="radio" name="change-gender-option" class="my-input-radio" id="choose-man">男
                <input type="radio" name="change-gender-option" class="my-input-radio" id="choose-woman">女
                <br>
                <label>课程类型</label>
                <input type="text" class="my-input" id="enter-change-type" placeholder="请填入主教课程">
            </div>
            <div class="form-modal-footer">
                <button class="my-button" data-dismiss="modal">取消</button>
                <button class="my-button" id="change-teacher-btn">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-teacher-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="my-modal">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <div class="my-modal-header">
                <p class="text-center">您确定要删除<span id="teacher-name-span"></span>教师吗？</p>
            </div>
            <div class="my-modal-footer">
                <button class="my-button" data-dismiss="modal">取消</button>
                <button class="my-button" id="delete-teacher-btn">确定</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>

    var Main = {
        data() {
            return {
                options: [{
                    value: 'primary',
                    label: '小学',
                    children: [{
                        value: 'yuwen',
                        label: '语文',
                    }, {
                        value: 'shuxue',
                        label: '数学',
                    },{
                        value: 'yingyu',
                        label: '英语',
                    }]
                }, {
                    value: 'chuzhong',
                    label: '初中',
                    children: [{
                        value: 'yuwen',
                        label: '语文',
                    }, {
                        value: 'shuxue',
                        label: '数学',
                    },{
                        value: 'yingyu',
                        label: '英语',
                    },{
                        value: 'wuli',
                        label: '物理',
                    },{
                        value: 'huaxue',
                        label: '化学',
                    }]
                }, {
                    value: '高中',
                    label: '高中',
                    children: [{
                        value: 'yuwen',
                        label: '语文',
                    }, {
                        value: 'shuxue',
                        label: '数学',
                    },{
                        value: 'yingyu',
                        label: '英语',
                    },{
                        value: 'wuli',
                        label: '物理',
                    },{
                        value: 'huaxue',
                        label: '化学',
                    },{
                        value: 'zhengzhi',
                        label: "政治",
                    },{
                        value: 'lishi',
                        label: '历史',
                    },{
                        value: 'dili',
                        label: '地理',
                    },{
                        value: 'shengwu',
                        label: '生物',
                    }]
                }],
                selectedOptions: [],
            };
        },

    };
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#cascader')
</script>
</html>