<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单管理</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/insOrder.js"></script>
    <script src="/js/logout.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/insOrder.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<nav class="my-nav">
    <span>Training College</span>
    <ul>
        <li><a href="/institution">首页</a></li>
        <li><a class="active" href="/insOrder">订单管理</a></li>
        <li><a href="/insManagement">账号管理</a></li>
    </ul>
    <a class="a-right" href="/login" id="ins-logout-a">退出登录</a>
</nav>
<div class="container">
    <div class="row">
        <div class="title">
            <a class="active" id="all-order-a">全部</a>
            <a id="notpay-order-a">待付款</a>
            <a id="hasbook-order-a">已预订</a>
            <a id="unsubscribe-order-a">已退订</a>
            <a id="finish-order-a">已完成</a>
        </div>
        <div class="main-content">
            <div id="all-order-div">
                <div id="all-order-display"></div>
                <div id="my-pagination1"></div>
            </div>
            <div id="notpay-order-div" hidden="hidden">
                <div id="notpay-order-display"></div>
                <div id="my-pagination2"></div>
            </div>
            <div id="hasbook-order-div" hidden="hidden">
                <div id="hasbook-order-display"></div>
                <div id="my-pagination3"></div>
            </div>
            <div id="unsubscribe-order-div" hidden="hidden">
                <div id="unsubscribe-order-display"></div>
                <div id="my-pagination4"></div>
            </div>
            <div id="finish-order-div" hidden="hidden">
                <div id="finish-order-display"></div>
                <div id="my-pagination5"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue().$mount(".main-content");
</script>
</html>