<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>统计信息</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/statistics.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/statistics.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<nav class="my-nav">
    <span>Training College</span>
    <ul>
        <li><a class="active" href="/amaldar">机构管理</a></li>
        <li><a href="/statistics">统计信息</a></li>
    </ul>
</nav>

<div class="container">
    <div class="row">
        <div class="title">
            <a class="active" id="all-institution-a">机构信息</a>
            <a id="all-user-a">用户信息</a>
            <a id="profit-a">财务信息</a>
        </div>
        <div class="main-content">
            <div id="all-institution-div"></div>
            <div id="all-user-div" hidden="hidden"></div>
            <div id="profit-div" hidden="hidden">
                <label>系统盈利：</label>
                <label id="profit-label"></label>
            </div>
        </div>
    </div>
</div>

</body>
</html>